*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    box-sizing: inherit;
    
}
body{

    font-family:$fuente_principal ;
    font-size: 1.6rem;
}